<header class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 logo">
          <!--LOGOTIPO-->
          <a href="/"><img src="/images/logos/LogoHeader.png" alt=""></a>
        </div>
        
        <div class="col-8 col-md-4 col-lg-4 iconos">
          <ul class='options'>
            
            <% if (typeof user == "undefined") { %>
              <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
              <li><i class="fas fa-search"></i></li>
              <li>
                <a href="/users/logout">Cerrar sesión <i class="fas fa-sign-in-alt "></i></a>
            </li>
            <% if (user.rol == 'admin') { %>
              <li><a href="/products/admin"><i class="fas fa-edit"></i></a></li>
              <li>
                <li><a href="/products/carga"><i class="fas fa-plus"></i></a></li>
              <li>
                <a href="/users/logout">Cerrar sesión <i class="fas fa-sign-in-alt "></i></a>
            </li>
              <% } %>
            <% } else{ %>
              <li><i class="fas fa-search"></i></li>
            <li><a href="/users/login"><i class="fas fa-users"></i></a></li>
              

              <% } %>
          </ul>
        </div>
        <div class="col-4 col-md-2 col-lg-1 d-flex justify-content-end align-items-center">
         
          <% if (locals.user) { %>
            <a href="/users/profile/<%= locals.user.id %>"><h5 class="mr-2"><%=locals.user.nombreCompleto%> </h5></a>
              <a href="/users/profile/<%=locals.user.id %>"><img src="/images/users/<%= locals.user.avatar %> " alt="avatar" width="50px" height="50px" class="avatar"></a>

          <% } else{%>
            <a href=""><h5 class="mr-2">Invitado</h5></a>
          <a href=""><img src="/images/users/default.png" alt="" width="50px" height="50px"></a>
          <% } %>
      </div>
     
      
      </div>
      <!--AQUI FINALIZA EL ROW-->

      
    <!--BARRA DE NAVEGACIÓN-->
    <nav class="navbar-expand-md">
      <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
          class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="menu navbar-nav mr-auto">
          <li><a href="">ANILLOS</a></li>
          <li><a href="">BRAZALETES</a></li>
          <li><a href="">COLLARES</a></li>
          <li><a href="">PENDIENTES</a></li>
          <li><a href="">COLECCIONES</a></li>
          <li><a href="">REGALOS</a></li>
        </ul>
      </div>
    </nav>

    
  </div>
</header>
       