<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 

<body>
  <!--COMIENZA HEADER-->
  <%- include('partials/header') %> 
<br>




<br><br>
      
<%- include('partials/footer') %>
</body>
</html>