<!DOCTYPE html>
<html lang="es">
    <!DOCTYPE html>
    <html lang="es">
      <%- include('partials/head') %> 
    
    <body>
        <form class="col-12 col-md-8 formulario">
    
            <h1>Crear cuenta</h1>
             <div class="contenedor">
             
             <div class="input-contenedor">
                 <i class="fas fa-user icon"></i>
                 <input type="text" placeholder="Nombre Completo">
                 
                 </div>
                 
                 <div class="input-contenedor">
                 <i class="fas fa-envelope icon"></i>
                 <input type="text" placeholder="Correo Electronico">
                 
                 </div>
                 
                 <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                 <input type="password" placeholder="Contraseña">
                 
                 </div>
        
                 <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                     <input type="password" placeholder="Repetir contraseña">
                     
                     </div>
                 <input type="submit" value="Registrate" class="button">
                 <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                 <p>¿Ya tienes una cuenta?<a class="link" href="/users/login">Iniciar Sesion</a></p>
                 <p><a class="link" href="/">Volver a inicio.</a></p>
             </div>
            </form>
        
         
        
        <!--scripts de bootstrap-->
        <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "
        ></script>
        <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "
        ></script>
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
        crossorigin="anonymous "
        ></script>
</body>
</html>