@import "style.css";

.perfilUsuario .contenido figure img{
    width: 90%;
}

.perfilUsuario .datos {
    margin-top: 30px;
}

.perfilUsuario h3{
    color: var(--color-violeta);
    
}

.perfil{
    overflow: hidden;
    border-top: solid 2px var(--color-violeta);
}
.perfilUsuario div.mensaje{
    color: var(--color-rochicle);
    background-color: var(--color-violeta);
}

.carga ul{
    float: left;
} 

.botonAct{
    border-radius: .25rem;
    border-color: var(--color-violeta);
    color: var(--color-violeta);
}
.botonAct:hover{
    background-color: var(--color-violeta);
    border-color: var(--color-violeta);
    color:white;
}