/*
--IMPORTS--
*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/*
--VARIABLES--
*/

:root{
   --color-violeta: #430a20;
   --color-ropastel:#fca8f7;
   --color-rosa:#cb7191;
   --color-robebe: #f9c7f7;
   --color-rochicle:#df9ac9;

}

/*
-- GENERALES
*/
*{
   box-sizing: border-box;
   margin:0
}
body{
   font-family: 'Crimson Text', serif;
   font-weight: 300;
   

}
a{
   text-decoration: none;
   color: var(--color-violeta);
}
a:hover{
   color:var(--color-robebe);
   text-decoration: none;
}
li{
   list-style: none;
}


/*
---
HEADER
---
*/

header{
   padding: 10px;
   
}
header .logo {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
}

header .logo a img{
   max-width: 100%;

   
}

header ul{
   overflow: hidden;
}
header ul li{
   float: left;
   margin-top: 10px;
   margin-left: 1cm;
}

header .iconos{
   color: var(--color-violeta);
   padding:0;
}
header div ul li i:hover{
   color: var(--color-robebe);
}
header .options{
   padding: 0;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
header .options li:nth-child(1){
   margin-left:0;
}

header nav{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

header nav button.burger{
   background-color: var(--color-violeta);
   color: white;
   border: none;
   border-radius: 4px;
   padding: 7px 12px;
}

header nav ul li a{
   
   color:var(--color-violeta);
}
header nav ul li{
   margin-top: 0cm;
   margin-left: 0cm;
   text-align: center;
}

/*
--- 
SLIDER
--- 
*/

section#slider{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px;
}

section#slider img{
   max-width: 100%;
}

section#slider .container-all{
   position: relative;
   max-width: 1000px;
   width: 100%;
   border-radius: 6px;
   overflow: hidden;
}

section#slider .slide{
   display: flex;
   transform: translate3d(0, 0, 0);
   transition: all 600ms;
   animation-name: autoplay;
   animation-duration: 6.5s;
   animation-direction: alternate;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
}

section#slider .item-slide{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   flex-grow: 0;
   max-width: 100%;
}

section#slider .pagination{
   position: absolute;
   bottom: 20px;
   left: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 100%;
}

section#slider .pagination-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid white;
   width: 16px;
   height: 16px;
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;
   background: rgba(255, 255, 255, 0.5);
   margin: 0 10px;
   text-align: center;
   transition: all 300ms;
}

section#slider .pagination-item:hover{
   transform: scale(2);
}

section#slider .pagination-item img{
   display: inline-block;
   max-width: none;
   height: 100%;
   transform: scale(1);
   opacity: 0;
   transition: all 300ms;
}

section#slider .pagination-item:hover img{
   opacity: 1;
   transform: scale(1);
}


section#slider input[id="1"]:checked ~ .slide{
   animation: none;
   transform: translate3d(0, 0, 0);
}

section#slider input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
   background: #fff;
}

section#slider input[id="2"]:checked ~ .slide{
   animation: none;
   transform: translate3d(calc(-100% * 1), 0, 0);
}

section#slider input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
   background: #fff;
}


section#slider input[id="3"]:checked ~ .slide{
   animation: none;
   transform: translate3d(calc(-100% * 2), 0, 0);
}

section#slider input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
   background: #fff;
}

/*KEYFRAMES SLIDER*/

@keyframes autoplay{
   33%{
       transform: translate3d(calc(-100% * 0), 0, 0);
   }
   
   66%{
       transform: translate3d(calc(-100% * 1), 0, 0);
   }
   
   100%{
       transform: translate3d(calc(-100% * 2), 0, 0);
   }
}

/*PRODUCTOS*/


.productos{
   display:flex;
   flex-wrap: wrap;
}

.productos .titulo h2{
   text-align: center;
   font-size: 28px;
   color: var(--color-violeta);
   padding: 30px;
  
}

.productos .contenido{
   background-color: var(--color-robebe);
   margin-bottom: 30px;
   border-radius: 5px;
   padding: 5px;
   text-align: center;
}

.productos .contenido figure img{
   width: 90%;
}

.productos article{
   display: flex;
   flex-wrap: wrap;
   border-top: 1px solid grey;
   padding: 20px;
   position: relative;
   height: 150px;
}

.productos article h2{
   display: flex;
   align-items: center;
}


.productos article span{
   color: var(--color-violeta);
   margin-left: 10px;
   display: flex;
   align-items: center;
  

}

/*
FOOTER
*/

.footer {
   padding: 20px;
   background-color: var(--color-violeta);
}

.footer article {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.footer article ul {
   overflow: hidden;
   padding: 0px;
}
.footer article ul li{
   float: left;
   list-style: none;
   padding-left:5px;
   padding-right:5px;
}



.footer article i {
   font-size: 35px;
   color:var(--color-robebe);
   display: flex;
   margin: 10px 0;
}

.footer article h4,
.footer article p {
   color: white;
   display: flex;
   margin: 20px 0;
}

.copyright {
   text-align: center;
   padding: 10px 0;
   border-top: 0.5px solid lightgrey;
   border-bottom: 0.5px solid lightgrey;
   color: var(--color-robebe);
}

/* --- VERSION PARA TABLET (768px) --- */

@media(min-width:768px){
   header{
      padding: 0px;
   }
   
   header .options{
      padding: 1cm; 
   }
   header nav ul{
         border-top:solid lightgray 0.5px;
         border-bottom:solid lightgray 0.5px;
   }
   header nav ul li{
      margin-left: 1cm;
   }
   header nav ul li:nth-child(1){
      margin-left: 0cm;
   
   }
   
}

/* --- VERSION PARA ESCRITORIO (1024px) --- */

@media(min-width:1024px){ 
   header .logo {
      padding: 0;
      padding-left: 9cm;
      
      
   }
   header nav ul li{
      margin-left: 2cm;
      margin-right: 0.7cm;
   
   }
   header nav ul li:nth-child(1){
      margin-left: 1cm;
   
   }

   
}




